*{
    margin: auto;
}

input{
    width: 35%;
    padding: 12 px;
    margin: 8px;
    border: 2px  solid navy;
    border-radius:  solid thistle;
    text-align: left;
}

h2{
    text-align: center;
    background-color:thistle;
    color: white;
}
body{
    background-color: linen;
}

.form{
    display: flex;
    flex-direction: column;
}